@import './../../sass/_reuse';

.header {
  color: $white;

  &Top {
    padding: 17px 0 3px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 0 3px;
    }

    @include desktop {
      padding: 24px 0 3px;
    }

    @include widescreen {
      padding: 27px 0 4px;
    }

    @include fullhd {
      padding: 30px 0 5px;
    }

    &Logo {
      text-align: center;
      margin-bottom: 22px;

      @include tablet {
        text-align: unset;
        margin-bottom: unset;
      }

      span {
        bottom: 5px;
        font-size: 2.3rem;
        font-weight: 200;
        margin-left: 15px;
        position: relative;

        @include tablet {
          font-size: 2.9rem;
        }

        @include desktop {
          font-size: 3.6rem;
        }

        @include widescreen {
          font-size: 4.3rem;
        }

        @include fullhd {
          font-size: 5rem;
        }
      }

      img {
        width: 25px;

        @include tablet {
          width: 39px;
        }

        @include desktop {
          width: 46px;
        }

        @include widescreen {
          width: 53px;
        }

        @include fullhd {
          width: 60px;
        }
      }
    }

    &Wallet {
      margin: 0 90px;
      display: flex;
      align-items: flex-end;

      &Wrapper {
        margin-bottom: 18px;
      }

      &Button {
        border: 1px solid $white;
        border-radius: 12px;
        cursor: pointer;
        padding: 8px 22px 10px;

        span {
          font-size: 1.4rem;
          letter-spacing: 3px;
          text-transform: lowercase;
        }

        &:hover {
          background-color: $white;
          transition: all 0.5s;

          span {
            color: $black;
          }
        }
      }
    }

    &Input {
      align-items: end;
      flex-grow: 1;
      position: relative;

      input {
        background-color: $black;
        border: 1px solid $white;
        border-radius: 7px;
        box-sizing: border-box;
        font-size: 0.8rem;
        padding: 6px 40px 6px 17px;
        transform: translateY(-12px);
        width: 100%;

        @include tablet {
          border-radius: 7px;
          font-size: 0.8rem;
          padding: 6px 40px 6px 17px;
          transform: translateY(28px);
        }

        @include desktop {
          border-radius: 8px;
          font-size: 1rem;
          padding: 7px 42px 7px 19px;
          transform: translateY(33px);

        }

        @include widescreen {
          transform: translateY(42px);
        }

        @include fullhd {
          font-size: 1.125rem;
          padding: 8px 43px 8px 20px;
          transform: translateY(47px);
          width: 100%;
        }
      }

      img {
        position: absolute;
        right: 11px;
        bottom: 18px;
        width: 16px;

        @include tablet {
          right: 11px;
          bottom: 18px;
          width: 16px;
        }

        @include desktop {
          right: 12px;
          bottom: 22px;
          width: 18px;
        }

        @include widescreen {
          bottom: 26px;
        }

        @include fullhd {
          right: 12px;
          bottom: 29px;
          width: 22px;
        }
      }
    }
  }

  &Bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 50px;

    div {
      &:first-child {
        margin: 0 15px 0 0;
      }

      &:last-child {
        margin: 0 0 0 15px;
      }
    }

    &Title {
      color: #9595e4;
      font-size: 1.1rem;
      margin-right: 10px;
      text-transform: lowercase;
    }

    &Subtitle {
      color: #bdbdff;
      font-size: 1.3rem;
      text-transform: uppercase;
    }
  }
}
