@import './../sass/_mixins';

.container {
  margin: 0 auto;
  padding: 0 30px;
  width: auto;

  @include desktop {
    padding: 0 50px;
  }

  @include widescreen {
    padding: 0 110px;
  }

  @include fullhd {
    padding: 0;
    max-width: 1468px;
  }
}
