@import './../../../../sass/reuse';

.validator {
  &Common {
    display: flex;
    margin-bottom: 20px;

    > div {
      margin-right: 50px;
    }

    img {
      width: 70px;
    }

    &Title {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    &Delegate {
      border: 1px solid $black;
      border-radius: 8px;
      cursor: pointer;
      padding: 10px 15px;

      &:hover {
        background-color: $black;
        border: 1px solid $white;
        color: $white;
        transition: all 0.5s;
      }
    }
  }

  &InfoItem {
    display: flex;

    &First {
      flex-basis: 180px;
      font-weight: 500;
      margin: 3px 0;
    }

    &Second {
      flex-basis: 300px;
    }

    &Third {
      flex-basis: 180px;
      font-weight: 500;
      margin: 3px 0;
    }

    &Fourth {
      flex-basis: 300px;
    }
  }

  &Blocks {
    &Dashboard {
      margin: 25px 0;

      span {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }

    &Visualisation {
      display: flex;
      flex-wrap: wrap;
      width: 500px;

      &Block {
        background-color: #000;
        border-radius: 3px;
        width: 15px;
        height: 15px;
        margin: 4px 2px;
      }
    }
  }
}
