@import './../../../sass/reuse';

.blocks {
  margin: 30px 40px;

  &Header {
    color: $main-blue;
    display: flex;
    padding: 0 10px;

    span {
      font-size: 1.2rem;
      padding: 18px 0;
    }

    &Height {
      flex-basis: 190px;
    }

    &Hash {
      flex-basis: 625px;
    }

    &Proposer {
      flex-basis: 186px;
    }

    &Txs {
      flex-basis: 193px;
    }

    &Time {
      flex-basis: 92px;
    }
  }
}

.block {
  border-top: 1px solid $white;
  color: $blue;
  display: flex;

  span {
    cursor: pointer;
    padding: 15px 10px;
  }

  &TabActive {
    background-color: $white;
    border-top: 2px solid $black;
    color: $black;

    span {
      cursor: unset;
      padding: 15px 0;
    }
  }

  &Expand {
    background-color: $white;
    color: $black;
    padding: 25px 15px;
  }
}
