.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1.2rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.card h2.loading {
  margin: 0 0 2rem 0;
}

.card h2.secondLoading {
  margin: 2rem 0;
}

.card p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 500;
}

.card span {
  font-weight: 400;
}

.card .secondHeader {
  margin: 1.2rem 0 1rem;
}

.developingPage {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.developingPage h3 {
  font-weight: normal;
}

.developingLeft {
  margin-right: 25px;
  padding: 0 30px 0 0;
  border-right: black 1px solid;
}

.header {
  margin: 3rem 0;
  text-align: center;
}

.header div {
  display: inline-block;
}

.pageContainer {
  max-width: 1250px;
  margin: 80px auto;
  font-weight: 400;
  padding: 0 1.5rem;
}

.pageContainer h2 {
  margin: 1rem 0 2.5rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.pageContainer h3 {
  margin: 2.5rem 0;
  font-size: 1.4rem;
}

.pageContainer p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.pageContainer ul {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.economicsChartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aprApyContainer {
  flex: 0 0 auto;
  width: 30%;
}

.priceChart {
  flex: 0 0 auto;
  width: 60%;
}

h3.priceTitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 0.5rem;
  text-align: center;
}

h4.aprApyTitle {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.aprChart {
  /* max-height: 250px;
  flex: 0 0 auto;
  width: 23%; */
}

.apyChart {
  /* max-height: 250px;
  flex: 0 0 auto;
  width: 23%; */
}

@media (max-width: 730px) {
  .economicsChartsContainer {
    display: block;
  }

  .priceChart {
    display: block;
    margin: 0 auto 30px;
    width: 100%;
  }

  .aprApyContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .aprChart {
    flex: 0 0 auto;
    width: 45%;
  }

  .apyChart {
    flex: 0 0 auto;
    width: 45%;
  }
}

@media (max-width: 730px) {
  .aprApyContainer {
    display: block;
  }

  .aprChart {
    width: 100%;
  }

  .apyChart {
    width: 100%;
  }
}

.stakeChartButton {
  text-align: center;
}

.stakeChartButton a {
  display: inline-block;
  margin: 20px 0 35px;
  padding: 8px 20px;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}

.stakeChartButton a:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.markets {
  flex-grow: 4;
}

.markets h3 {
  text-align: center;
  font-weight: 500;
  margin: 60px 0 30px;
}

.marketsAside {
  flex-grow: 3;
}

.marketsSection {
  display: flex;
  flex-wrap: wrap;
}

.marketsContainer {
  padding: 5px 0;
  border-bottom: 1px solid black;
  height: 293px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.marketsContainer::-webkit-scrollbar {
  display: none;
}

.marketsContainerExpand {
  height: auto;
}

.marketsExpand {
  text-align: center;
  margin-bottom: 40px;
}

.marketsExpand span {
  border: 1px solid black;
  padding: 10px 30px;
  position: relative;
  top: 10px;
  border-radius: 0 0 7px 7px;
  cursor: pointer;
}

.marketsExpand span:hover {
  color: #0070f3;
  border-color: #0070f3;
}

.markesItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid black;
  cursor: pointer;
}

.markesItem:first-child {
  border: none;
  margin: 5px 0 10px;
  font-weight: 500;
}

.markesItem div {
  flex-basis: 220px;
  margin: 0 10px;
}

.markesItem:hover {
  border-color: #0070f3;
  color: #0070f3;
}

.markesItem:first-child:hover {
  border: none;
  margin: 5px 0 10px;
  color: black;
}

.markesItemPair {
  display: flex;
  flex-wrap: wrap;
}

.underPriceChartSection {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  margin-top: 20px;
}

.underPriceChartSection h4 {
  margin: 25px 0 10px;
  font-weight: 500;
  white-space: nowrap;
}

.marketsAside h4 {
  margin: 30px 0 10px;
  font-weight: 500;
  white-space: nowrap;
}

.marketsAside .marketsAsideFirstTitle {
  margin: 140px 0 10px;
}

.underPriceChartSection > div, .marketsAside > div {
  margin: 0 20px;
  flex-basis: 110px;
  text-align: center;
}

.underPriceChartSubtitle {
  font-size: 1.3rem;
}

/* .marketsItemButton {
  flex-basis: auto !important;
  align-self: center;
  text-align: center;
} */

/* .marketsItemButton a {
  display: inline-block;
  margin: 0 auto;
  padding: 6px 17px;
  font-size: 0.9rem;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
} */

/* .marketsItemButton a:hover {
  color: #0070f3;
  border-color: #0070f3;
} */

.logo {
  height: 1em;
}

.logoSvg:hover {
  fill: #0070f3;
}

.logoSvgIcon:hover {
  fill: #0070f3;
}

a:hover .logoSvgIcon {
  fill: #0070f3;
}

/* .logoSvg:hover svg {
  fill: #0070f3;
}

.logoSvgPath1 {
  animation-name: animateSvg1;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.logoSvgPath1:hover {
  fill: #0070f3;
}

.logoSvgPath2 {
  animation-name: animateSvg2;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.logoSvgPath3 {
  animation-name: animateSvg3;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

@keyframes animateSvg1 {
  0% {fill: black;}
  0.3% {fill: #0070f3;}
  0.5% {fill: black}

  67.15% {fill: black;}
  67.45% {fill: #0070f3;}
  67.7% {fill: black;}
}

@keyframes animateSvg2 {
  0.35% {fill: black;}
  1% {fill: #0070f3;}
  1.5% {fill: black;}

  66.25% {fill: black;}
  66.8% {fill: #0070f3;}
  67.25% {fill: black;}
}

@keyframes animateSvg3 {
  1.3% {fill: black;}
  1.85% {fill: #0070f3;}
  2.3% {fill: black;}

  65% {fill: black;}
  65.7% {fill: #0070f3;}
  66.35% {fill: black;}
} */

.navMain {
  font-size: 1.3rem;
  letter-spacing: 1px;
  max-width: 1250px;
  margin: 0 auto 20px;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navMain a {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 4px 17px;
  margin: 10px 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.navMain a.invisible {
  display: none;
}

.navMain a:first-child {
  margin-right: 0;
}

.navMain a:last-child {
  margin-left: 0;
}

.navMain a:hover, a.isActiveLink {
  color: #0070f3;
  border-color: #0070f3;
}

.navMain a.hidden {
  display: none;
}

.navMain a.isActiveLink {
  display: inherit;
}

.navMain a.displayAboutLink {
  display: block;
}

.burgerMenu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 25px;
  margin-bottom: 25px;
}

.tokenomics h3 {
  text-align: center;
  font-weight: 500;
  margin: 3rem 0 5rem;
}

.tokenomics p {
  margin-top: 50px;
}

.tokenomics p a {
  color: #0070f3;
}

.tokenomicsImages {
  display: flex;
}

.tokenomicsImagesContainer {
  position: relative;
  width: 100%;
  padding-bottom: 26%;
}

.burgerMenu.hidden {
  display: none;
}

.burgerLine {
  height: 2px;
  width: 30px;
  background-color: black;
}

.burgerLine.clicked:nth-child(1) {
  transform: rotate(39deg) translate(5px, 12px);
  transition: ease-out 0.5s;
  width: 35px;
}

.burgerLine.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burgerLine.clicked:nth-child(3) {
  transform: rotate(140deg) translate(-4px, 11px);
  transition: ease-out 0.5s;
  width: 35px;
}

/* unclicked */
.burgerLine.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.footer a:hover {
  color: #0070f3;
}

.search {
  text-align: center;
  max-width: 350px;
  margin: 0px auto 35px;
  position: relative;
  transition: ease-out 0.4s;
}

.search svg {
  fill: rgba(0, 0, 0, 0.6);
}

.search.isFocus svg {
  fill: rgba(0, 0, 0, 0.8);
  transform: scale(1.3);
}

.search.isFocus svg:hover {
  fill: rgba(0, 112, 243, 1);
  cursor: pointer;
}

.search span {
  position: absolute;
  top: 4px;
  right: -50px;
}

.searchBorder {
  height: 1px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.7);
  transform: scale(0.1);
  transition: ease-out 0.4s;
}

.search.isFocus {
  max-width: 600px;
}

.searchBorder.isFocus {
  transform: scale(1);
}

.search input[type=text] {
  border: 0;
  width: 100%;
  padding: 8px 20px;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  caret-color: #0070f3;
}

.search input[type=text]:focus {
  outline: none;
}

.search input[type=text]:focus::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.search input[type=text]::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 770px) {
  .search.isFocus {
    max-width: 450px;
  }

  .search.isFocus svg {
    transform: scale(1.2);
  }

  .searchBorder {
    width: 450px;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .developingPage {
    height: 30vh;
  }

  .main {
    min-height: 60vh;
  }

  .container {
    padding: 0;
  }

  .pageContainer {
    padding: 0 1rem;
  }

  .markets h3 {
    margin: 15px 0 20px;
  }

  .marketsAside .marketsAsideFirstTitle {
    margin: 60px 0 10px;
  }

  .tokenomicsImagesContainer {
    position: relative;
    width: 100%;
    padding-bottom: 55%;
    margin-bottom: 50px;
  }

  .tokenomicsImages {
    display: block;
  }

  .search.isFocus {
    max-width: 350px;
  }

  .searchBorder {
    width: 350px;
  }
}

@media (max-width: 520px) {
  .markesItem {
    padding: 5px;
  }

  .search {
    max-width: 230px;
  }

  .search input[type=text] {
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: 500;
  }

  .search input[type=text]::placeholder {
    font-size: 1rem;
  }

  .search.isFocus {
    max-width: 230px;
  }

  .searchBorder {
    width: 230px;
  }

  .search svg {
    transform: scale(0.8);
  }

  .search span {
    top: -4px;
    right: -33px;
  }

  .search.isFocus svg {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
