.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  margin-bottom: 40px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1.2rem 0;
  font-size: 2rem;
  font-weight: 500;
}

.card h2.loading {
  margin: 0 0 2rem 0;
}

.card h2.secondLoading {
  margin: 2rem 0;
}

.card p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 500;
}

.card span {
  font-weight: 400;
}

.card .secondHeader {
  margin: 1.2rem 0 1rem;
}

.developingPage {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.developingPage h3 {
  font-weight: normal;
}

.developingLeft {
  margin-right: 25px;
  padding: 0 30px 0 0;
  border-right: black 1px solid;
}

.header {
  margin: 3rem 0;
  text-align: center;
}

.header div {
  display: inline-block;
}

.pageContainer {
  max-width: 1250px;
  margin: 80px auto;
  font-weight: 400;
  padding: 0 1.5rem;
}

.pageContainer h2 {
  margin: 1rem 0 2.5rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.pageContainer h3 {
  margin: 2.5rem 0;
  font-size: 1.4rem;
}

.pageContainer p {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.pageContainer ul {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.economicsChartsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aprApyContainer {
  flex: 0 0 auto;
  width: 30%;
}

.priceChart {
  flex: 0 0 auto;
  width: 60%;
}

h3.priceTitle {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 0 0.5rem;
  text-align: center;
}

h4.aprApyTitle {
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.aprChart {
  /* max-height: 250px;
  flex: 0 0 auto;
  width: 23%; */
}

.apyChart {
  /* max-height: 250px;
  flex: 0 0 auto;
  width: 23%; */
}

@media (max-width: 730px) {
  .economicsChartsContainer {
    display: block;
  }

  .priceChart {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

  .aprApyContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .aprChart {
    flex: 0 0 auto;
    width: 45%;
  }

  .apyChart {
    flex: 0 0 auto;
    width: 45%;
  }
}

@media (max-width: 730px) {
  .aprApyContainer {
    display: block;
  }

  .aprChart {
    width: 100%;
  }

  .apyChart {
    width: 100%;
  }
}

.logo {
  height: 1em;
}

.logoSvg:hover {
  fill: #0070f3;
}

.logoSvgIcon:hover {
  fill: #0070f3;
}

a:hover .logoSvgIcon {
  fill: #0070f3;
}

/* .logoSvg:hover svg {
  fill: #0070f3;
}

.logoSvgPath1 {
  animation-name: animateSvg1;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.logoSvgPath1:hover {
  fill: #0070f3;
}

.logoSvgPath2 {
  animation-name: animateSvg2;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.logoSvgPath3 {
  animation-name: animateSvg3;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

@keyframes animateSvg1 {
  0% {fill: black;}
  0.3% {fill: #0070f3;}
  0.5% {fill: black}

  67.15% {fill: black;}
  67.45% {fill: #0070f3;}
  67.7% {fill: black;}
}

@keyframes animateSvg2 {
  0.35% {fill: black;}
  1% {fill: #0070f3;}
  1.5% {fill: black;}

  66.25% {fill: black;}
  66.8% {fill: #0070f3;}
  67.25% {fill: black;}
}

@keyframes animateSvg3 {
  1.3% {fill: black;}
  1.85% {fill: #0070f3;}
  2.3% {fill: black;}

  65% {fill: black;}
  65.7% {fill: #0070f3;}
  66.35% {fill: black;}
} */

.navMain {
  font-size: 1.3rem;
  letter-spacing: 1px;
  max-width: 1250px;
  margin: 0 auto 20px;
  padding: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.navMain a {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 4px 17px;
  margin: 10px 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.navMain a:first-child {
  margin-right: 0;
}

.navMain a:last-child {
  margin-left: 0;
}

.navMain a:hover, a.isActiveLink {
  color: #0070f3;
  border-color: #0070f3;
}

.footer a:hover {
  color: #0070f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .developingPage {
    height: 30vh;
  }

  .main {
    min-height: 60vh;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
